---
layout: page
---
<div class="page-content wc-container">

  <div class="post">
    <h3 class="post_title">{{page.title}}</h3>
    <ul>
        {% for post in site.posts %}
        {% for tag in post.tags %}
        {% if tag == page.tag %}

        <h2 class="post-title">
            <a href="{{ post.url | relative_url }}">
                {{ post.title }}
            </a>
        </h2>

        <div class="post-meta">
            <div class="post-time">
                <i class="fa fa-calendar"></i>
                <time datetime='{{ post.date | date: "%Y-%m-%d" }}'>{{ post.date | date_to_string }}</time>
            </div>
            <ul>
                {% for tag in post.tags %}
                <li><a href="{{'/tag/' | append: tag | relative_url }}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="post-descr">
            <p>
                {{ post.description }}
            </p>
        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </ul>
  </div>
</div>
